img{
  width:70px;
  height:70px;
}

.center{
  text-align:center;
}

.playlist{
  display:flex;
  justify-content:space-around;
}

h1{
  border-bottom:5px solid black;
}

.inp{
  margin:2px;
}

.column{
  display: flex;
  flex-direction: column;
}

.item{
  width:70px;
  height:70px;
  margin-bottom:20px;
}