img{
  width:70px;
  height:70px;
  border-bottom:2px solid grey;
}


.center{
  text-align:center;
}

.playlist{
  display:flex;
  justify-content:space-around;
  
  background-color:#434343;
  color:white;
}

h1{
  color: #434343;
  border-bottom:5px solid #D8D8D8;
  
}

.inp{
  margin:2px;
}

.column{
  display: flex;
  flex-direction: column;
}

.item{
  width:70px;
  height:70px;
  margin-bottom:20px;
  border-bottom:2px solid grey;
  color:#D8D8D8;
}

.title{
  border-bottom:5px solid darkgreen;
}

.alert{
  color:red;
}

body{
  background-color:#777777;
}